Domain: {{ domain }}
{% if domain %}
  {% if records %}
<table border="1">
  <th>Name</th>
  <th>Type</th>
  <th>RDATA</th>
  <th>Entry Since</th>
  <th>Entry Out</th>
    {% for record in records.object_list %}
  <tr>
    <td>{{ record.name }}</td>
    <td>{{ record.type }}</td>
    <td>{{ record.content }}</td>
    <td>{{ record.since_date }}</td>
    <td>{{ record.out_date }}</td>
  </tr>
    {% endfor %}
    </ul>
</table>

    {% if records.has_previous %}
        <a href="?page={{ records.previous_page_number }}">prev</a>
    {% endif %}
    {% if records.has_next %}
        <a href="?page={{ records.next_page_number }}">next</a>
    {% endif %}
  {% else %}
    <p>No records found</p>
  {% endif %}
{% else %}
  <p>No domain found</p>
{% endif %}
