Domain: {{ domain }}

<!-- serial list -->
<form action="/dns/domains/compare/" method="post">
  <input type="hidden" name="domain" value="{{ domain }}" />
  <table border="1">
    <th>Serial</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
    <th></th>
{% for serial in serials %}
    <tr>
      <td>{{ serial.serial }}</td>
      <td>{{ serial.start_date }}</td>
      <td>{{ serial.end_date }}</td>
      <td><input type="radio" name="serial1" value="{{ serial.serial }}" /></td>
      <td><input type="radio" name="serial2" value="{{ serial.serial }}" /></td>
    </tr>
{% endfor %}
  </table>
  <input type="submit" value="Compare" />
</form>

<br/>

<!-- record list -->
{% if domain %}
  {% if records %}
<table border="1">
  <th>Name</th>
  <th>Type</th>
  <th>RDATA</th>
  <th>Entry Since</th>
  <th>Entry Out</th>
    {% for record in records.object_list %}
  <tr>
    <td>{{ record.name }}</td>
    <td>{{ record.type }}</td>
    <td>{{ record.content }}</td>
    <td>{{ record.since_date }}</td>
    <td>{{ record.out_date }}</td>
  </tr>
    {% endfor %}
    </ul>
</table>

    {% if records.has_previous %}
        <a href="?page={{ records.previous_page_number }}">prev</a>
    {% endif %}
    {% if records.has_next %}
        <a href="?page={{ records.next_page_number }}">next</a>
    {% endif %}
  {% else %}
    <p>No records found</p>
  {% endif %}
{% else %}
  <p>No domain found</p>
{% endif %}
